<!--<div class="row cardcontainer" ng-repeat="cars in $ctrl.cars | filter: searchText">
    <div ui-sref="cars.item({id:car._id})" class="col s12 m6" style="width: 45%; margin-left:auto; left: auto; right: auto;">
        <div class="card horizontal card-background">
            <div class="card-image">
                <img class="uniqpicture" ng-src="{{cars.picture}}">
            </div>
            <div class="card-stacked">
              <h5 class="titlebcard">{{cars.name}} {{cars.birth}}</h5>
                <div class="card-content">
                    <p>{{cars.description | limitTo: 100}}</p>
                </div>

                <div>
                <a ui-sref="cars.list"><img class="circle responsive-img cardavatar right" ng-src="{{cars.owner.avatar}}"></a>
                </div>
             </div>
        </div>
    </div>
</div>-->


<div class="col s12 m4 l4" ng-repeat="cars in $ctrl.cars | filter: searchText">


   <div id="profile-card" class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" ng-src="{{cars.picture}}" alt="user bg">
    </div>
    <div class="card-content">
        <img ng-src="{{cars.owner.avatar}}" alt="" class="circle responsive-img activator card-profile-image">
        <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
            <i class="material-icons">add</i>
        </a>

        <span class="card-title activator grey-text text-darken-4"><i class="material-icons">perm_identity</i>{{cars.owner.firstname}}</span>
        <p><i class="material-icons">subject</i>{{cars.description | limitTo: 100}}</p>
        <span><i class="material-icons">email</i><b>{{cars.owner.email}}</b></span>

    </div>

    <!--/////////////////
    Card Reveal
  /////////////////////-->


    <div class="card-reveal" style="display: none; transform: translateY(0px);">
        <span class="card-title grey-text text-darken-4"><i class="material-icons">perm_identity</i>{{cars.owner.firstname}}<i class="material-icons activator "></i></span>
        <span class="card-title grey-text text-darken-4"><i class="material-icons">perm_identity</i>{{cars.owner.surname}}<i class="material-icons activator "></i></span>
        <p><i class="material-icons">email</i>{{cars.owner.email}} </p>
        <p><i class="material-icons">assignment_ind</i>Top Secret</p>
    <!--    <p><i class="material-icons">email</i> yourmail@domain.com</p>-->
        <p><i class="material-icons">perm_contact_calendar</i> 18th June 1990
        </p>
        <p>
        </p>
        <p>
        <i class="mdi-device-airplanemode-on">

        </i>
        </p>
        <p>
        </p>
    </div>
 </div>
</div>
