<!-- /////////////////
NAVBAR
//////////////////////-->


<div class="navbar-fixed">
    <nav class="navdash">
        <div class="row">
            <div class="col s6"><a ui-sref="cars.list" class="brand-logo"><i class="material-icons"><img ng-src="../img/logo.png" class="unicorn-logo responsive-image"></i><b class="title"><span class="titlea">Ready</span><span class="titleb">Muscle</span></b></a></div>
            <div class="col s12 offset-s6">
                <div class="row">
                    <form class="col s12">
                        <div class="row">

                    <!--   <div class="row">
                                    <form class="col s12 m6 ">
                                      <div class="row">
                                        <div class="input-field col s12">
                                          <input id="text" type="text" class="validate" ng-model="searchText">
                                          <label  class="" for="text" data-error="wrong" data-success="right" ><h4 class="searchbartext" >Search</h4></label>
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                <div class="row">-->
                        <div class="col s12">
                        <div class="row">
                        <div class="input-field col s12">
                          <i class=" large material-icons prefix">search</i>
                          <input id="text" type="text">
                          <label for="icon_prefix">Search</label>
                        </div>
                        </div>
                      </div>
                    </div>
                  </form>

                </div>
            </div>
        </div>
    </nav>


<!-- /////////////////
END OF NAVBAR
//////////////////////-->
